<div class="container-fluid main d-flex align-items-center justify-content-center" *ngIf="mode">
    <div class="row">
        <p-card>
            <div class="text-center">
                <p-avatar class="" icon="pi pi-user" styleClass="" class="" size="xlarge" shape="circle"></p-avatar>
            </div>
            <div class="display-6 text-center mb-3">Login</div>
            <form action="" class="col-12"  [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="mb-3 p-1">
                    <label for="" class="h6">Email</label><br>
                    <input formControlName="email" type="text" id="inputtext" pInputText class="normal-input col-12" placeholder="Email"><br>
                    <label for="" class="small text-danger" *ngIf="loginForm.touched && lf.email.errors && lf.email.errors.required">Email is equired</label>
                    <label for="" class="small text-danger" *ngIf="loginForm.touched && lf.email.errors && lf.email.errors.email">Email is invalid</label>
                </div>
                <div class="mb-3">
                    <label for="" class="h6">Password</label><br>
                    <input formControlName="password" p-password pInputText  [toggleMask]="true" [feedback]="false" class="col-12 normal-input"
                        placeholder="Password">
                </div>
                <div class="text-center">
                    <p-button (click)="onLogin()" pRipple type="button" label="Login" styleClass="p-button-sm p-button-outlined px-4" class=""></p-button>
                </div>
            </form>
            <div class="socialLogin text-center mt-3">
                <div class="mb-2 h6">Or Continue With</div>
                <button pButton pRipple type="button" icon="pi pi-google"
                    class="bg-danger border-0 p-button-rounded p-4 mx-3"></button>
                <button pButton pRipple type="button" icon="pi pi-facebook"
                    class="bg-primary border-0 p-button-rounded p-4 mx-3"></button>
            </div>
            <hr>
            <div class="text-center">
                Don't have an account? <button class="btn btn-link p-0 m-0" (click)="mode=!mode">Create One</button>
            </div>
        </p-card>
        <div class="text-center"></div>
    </div>
</div>

<div class="container-fluid main d-flex align-items-center justify-content-center" *ngIf="!mode">
    <div class="row">
        <p-card>
            <div class="display-6 text-center mb-3">Sign Up</div>
            <form action="" class="col-12"  [formGroup]="loginForm" (ngSubmit)="onSignup()">
                <div class="mb-3 p-1">
                    <label for="" class="h6">Full Name</label><br>
                    <input formControlName="email" type="text" id="inputtext" pInputText class="normal-input col-12" placeholder="Email"><br>
                    <label for="" class="small text-danger" *ngIf="loginForm.touched && lf.email.errors && lf.email.errors.required">Email is equired</label>
                    <label for="" class="small text-danger" *ngIf="loginForm.touched && lf.email.errors && lf.email.errors.email">Email is invalid</label>
                </div>
                <div class="mb-3 p-1">
                    <label for="" class="h6">Email</label><br>
                    <input formControlName="email" type="text" id="inputtext" pInputText class="normal-input col-12" placeholder="Email"><br>
                    <label for="" class="small text-danger" *ngIf="loginForm.touched && lf.email.errors && lf.email.errors.required">Email is equired</label>
                    <label for="" class="small text-danger" *ngIf="loginForm.touched && lf.email.errors && lf.email.errors.email">Email is invalid</label>
                </div>
                <div class="mb-3">
                    <label for="" class="h6">Password</label><br>
                    <input formControlName="password" p-password pInputText  [toggleMask]="true" [feedback]="false" class="col-12 normal-input"
                        placeholder="Password">
                </div>
                <div class="mb-3">
                    <label for="" class="h6">Confirm Password</label><br>
                    <input formControlName="password" p-password pInputText  [toggleMask]="true" [feedback]="false" class="col-12 normal-input"
                        placeholder="Password">
                </div>
                <div class="text-center">
                    <p-button (click)="onSignup()" pRipple type="button" label="SignUp" styleClass="p-button-sm p-button-outlined px-4" class=""></p-button>
                </div>
            </form>
            <div class="socialLogin text-center mt-3">
                <div class="mb-2 h6">Or Continue With</div>
                <button pButton pRipple type="button" icon="pi pi-google"
                    class="bg-danger border-0 p-button-rounded p-4 mx-3"></button>
                <button pButton pRipple type="button" icon="pi pi-facebook"
                    class="bg-primary border-0 p-button-rounded p-4 mx-3"></button>
            </div>
            <hr>
            <div class="text-center">
                Already have an account? <button class="btn btn-link p-0 m-0" (click)="mode=!mode">Login now</button>
            </div>
        </p-card>
        <div class="text-center"></div>
    </div>
</div>