.main {
    height: calc(100vh - 66px);
}

.ofw {
    overflow-wrap: break-word;
    word-wrap    : break-word;
    hyphens      : auto;
    white-space  : pre-wrap;
}


.bubble-text {
    vertical-align: top;
    max-width     : 50vw;
    display       : inline-block
}

.chat-input {
    height          : 50px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter : blur(5px);
    position        : absolute;
    bottom          : 0;
}

.chat-list {
    height        : calc(100vh - 66px - 50px);
    padding-bottom: 52px;
    position      : relative // border        : 2px solid red;
}

.chat-info {
    height          : 50px;
    backdrop-filter : blur(5px);
    background-color: rgba(255, 255, 255, 0.05);
}

.user-details,
.chat-info {
    vertical-align: center !important;
}

.p-inputtext,
.p-inputgroup-addon {
    background   : rgba(255, 255, 255, 0.1);
    border-radius: 30px !important;
}

.p-inputgroup .p-inputtext {
    background                : rgba(255, 255, 255, 0.1);
    border-top-right-radius   : 0px !important;
    border-bottom-right-radius: 0px !important;
}

.p-inputgroup-addon {
    border-top-right-radius   : 0px !important;
    border-bottom-right-radius: 0px !important;
}

.p-button {
    border                    : 1px solid rgba(255, 255, 255, 0.2);
    color                     : white;
    transition                : 0.5s ease;
    background-color          : rgba(255, 255, 255, 0.1);
    border-top-right-radius   : 30px !important;
    border-bottom-right-radius: 30px !important;
}

.p-button:hover,
.p-button:active,
.p-button:focus {
    background: rgba(255, 255, 255, 0.1);
    border    : 1px solid rgba(255, 255, 255, 0.2);
}

.p-inputgroup {
    height: 40px;
}

.left-bubble,
.right-bubble {
    margin-top: 2px;
}

.left-bubble {
    padding-left: 10px
}

.right-bubble {
    padding-right: 10px;
}

.bubble {
    position: relative;
}

.smooth-scroll {
    scroll-behavior: smooth;
}

.left-bubble .bubble:nth-child(1) {
    background            : rgba(255, 255, 255, 0.20);
    padding-left          : 10px;
    padding-right         : 10px;
    padding-top           : 5px;
    padding-bottom        : 10px;
    border-radius         : 30px;
    border-top-left-radius: 0px;
    min-width             : 60px;
}

.right-bubble .bubble:nth-child(1) {
    background                : rgba(255, 255, 255, 0.20);
    padding-left              : 10px;
    padding-right             : 10px;
    padding-top               : 5px;
    padding-bottom            : 10px;
    border-radius             : 30px;
    border-bottom-right-radius: 0px;
    min-width                 : 60px;
}

.p-button.scroll-down-button {
    position       : absolute;
    right          : 25px;
    bottom         : 60px;
    border-radius  : 30px;
    backdrop-filter: blur(10px) !important;
}

.p-button.scroll-down-button:hover,
.p-button.scroll-down-button:active,
.p-button.scroll-down-button:focus {
    color     : white;
    background: rgba(255, 255, 255, 0.1);
    border    : 1px solid rgba(255, 255, 255, 0.2);
}