<div class="main d-flex justify-content-center align-items-center" *ngIf="!hasSelected">
    <div class="col-12 text-center p-5">
        <h1>Start messaging by selecting a chat from the chat list on left panel</h1>
    </div>
</div>
<div class="main" *ngIf="hasSelected">
    <div class="chat-info container-fluid px-2">
        <div class="row">
            <div class="col-auto p-0 d-flex align-items-center m-0" *ngIf="mobileView">
                <button pRipple (click)="goBack()" style="color: white" pButton pRipple type="button"
                    icon="pi pi-arrow-left" class="p-button-rounded p-button-text"></button>
            </div>
            <div class="col-auto text-center px-0" [ngClass]="mobileView ? 'px-0' : 'px-3'">
                <p-avatar icon="pi pi-user" styleClass="" [size]="'large'" shape="circle"
                    [label]="chat.name.split('')[0]" [style]="{'color': 'white', 'background-color': randomColor}"
                    [ngStyle]="{'backgroundColor': chat.color, 'borderRadius': '40px', 'text-shadow': 'black 0px 0px 10px'}">
                </p-avatar>
            </div>
            <div class="user-details col p-0 m-0 text-truncate">
                <h5 class="p-0 m-0 d-block text-truncate px-2">
                    {{chat.name | decrypt: userService.userDetails.settings.encryption &&
                    userService.userDetails.settings.encryptNames :
                    userService.userDetails.settings.encryptionComplexMode}}
                    <span *ngIf="socket.User._id == chat._id">(You)</span>
                </h5>
                <div class="small px-2 text-truncate">{{chat.email | decrypt:
                    userService.userDetails.settings.encryption && userService.userDetails.settings.encryptNames :
                    userService.userDetails.settings.encryptionComplexMode}}</div>
            </div>
        </div>
    </div>
    <div class="chat-list overflow-auto" [ngClass]="canScrollSmooth ? 'smooth-scroll' : ''" #scrollDown
        (scroll)="handleScroll($event)">
        <div class="col-12 singleChat" *ngFor="let mess of messages">
            <div class="left-bubble text-start"
                *ngIf="mess.to._id == socket.User._id && mess.from._id != socket.User._id">
                <div class="d-inline-block bubble ofw  animate__faster text-end" style="position: relative;" [ngStyle]="{'min-width': isToday(mess.datetime) ? '65px': '100px'}">
                    <p class="ofw p-0 m-0 bubble-text">{{mess.message | mstatus: mess._id : mess.seen :
                        userService.userDetails.settings.encryptDelay | decrypt:
                        mess.seen && userService.userDetails.settings.encryption :
                        userService.userDetails.settings.encryptionComplexMode}}
                    </p>
                    <span class="small datetimel text-end"
                        style="font-size: 0.6em; margin: 5px; vertical-align: bottom; position: absolute; width: 100px; right: 8px; bottom: 0;">
                        {{mess.datetime | date:isToday(mess.datetime) ? 'h:mm a' : 'h:mm a, d/M/yy'}}</span>
                </div>
            </div>
            <div class="right-bubble text-end" *ngIf="mess.from._id == socket.User._id">
                <div class="d-inline-block bubble ofw  animate__faster text-start" style="position: relative;" [ngStyle]="{'min-width': isToday(mess.datetime) ? '75px': '120px'}">
                    <p class="ofw p-0 m-0 bubble-text">{{mess.message | mstatus: mess._id : mess.seen :
                        userService.userDetails.settings.encryptDelay | decrypt:
                        mess.seen && userService.userDetails.settings.encryption :
                        userService.userDetails.settings.encryptionComplexMode}}</p>
                    <span class="small datetimer text-end"
                        style="font-size: 0.6em; margin: 5px;position: absolute; vertical-align: bottom; width: 100px; right: 3px; bottom: 0; padding-right: 15px;">
                        {{mess.datetime | date:isToday(mess.datetime) ? 'h:mm a' : 'h:mm a, d/M/yy'}}
                        <i class="bi small" [ngClass]="mess.read ? 'bi-check2-all': 'bi-check2'"
                            style="font-size: 1.25em; vertical-align: bottom;position: absolute; right: 0; margin-bottom: 5px;"></i>
                    </span>
                </div>  
            </div>
        </div>
    </div> 
    <div class="chat-input col-12 col-lg-8 col-xl-9 col-md-7 blur-bg d-flex justify-content-between align-items-center"
        style="padding-left: 10px;padding-right: 10px;">
        <div class="emoji">
            <button pButton pRipple type="button" icon="bi {{!toggleEmoji ? 'bi-emoji-smile' : 'bi-x'}}"
                style="font-size: 1.4em;" class="p-button-rounded p-button-text p-button-plain ml-2"
                (click)="toggleEmoji = !toggleEmoji; !toggleEmoji && this.chatInputElament.nativeElement.focus()"></button>
            <div class="emojiView" *ngIf="toggleEmoji" [style]="{ position: 'absolute', bottom: '50px', left: '5px' }">
                <emoji-mart [isNative]="false" (emojiClick)="selectedEMoji($event)" [showPreview]="false"
                    [emojiTooltip]="false" set="facebook"></emoji-mart>
            </div>
        </div>
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Type a message" [(ngModel)]="messageString" (blur)="onBlur()"
                (focus)="onFocus()" #autoFocus>
            <button type="button" pButton pRipple icon="pi pi-send" styleClass="p-button-warn" id="send-button"
                (click)="sendMessage()"></button>
        </div>
    </div>
</div>
<button pButton pRipple type="button" *ngIf="showbutton" icon="pi pi-angle-double-down" style="color: white"
    class="p-button-rounded p-button-outlined scroll-down-button p-0" (click)="goToBottom()"></button>