.main {
    height: calc(100vh - 66px);
}

.chat-input {
    height          : 50px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter : blur(5px);
    position        : absolute;
    bottom          : 0;
} 

.chat-list {
    height        : calc(100vh - 66px - 50px);
    padding-bottom: 50px;
    border        : 2px solid red;
}

.chat-info {
    height: 50px;
    backdrop-filter : blur(5px);
    background-color: rgba(255, 255, 255, 0.05);
}

.user-details, .chat-info {
    vertical-align: center!important;
}

.p-inputtext,
.p-inputgroup-addon {
    background   : rgba(255, 255, 255, 0.1);
    border-radius: 30px !important;
}

.p-inputgroup .p-inputtext {
    background                : rgba(255, 255, 255, 0.1);
    border-top-right-radius   : 0px !important;
    border-bottom-right-radius: 0px !important;
}

.p-inputgroup-addon {
    border-top-right-radius   : 0px !important;
    border-bottom-right-radius: 0px !important;
}

.p-button {
    border                    : 1px solid rgba(255, 255, 255, 0.2);
    color                     : white;
    transition                : 0.5s ease;
    background-color          : rgba(255, 255, 255, 0.1);
    border-top-right-radius   : 30px !important;
    border-bottom-right-radius: 30px !important;
}

.p-button:hover,
.p-button:active,
.p-button:focus {
    background: rgba(255, 255, 255, 0.1);
    border    : 1px solid rgba(255, 255, 255, 0.2);
}

.p-inputgroup {
    height: 40px;
}