<div class="row main ripple" (click)="chatSelected()">
    <div class="chat-avatar">
        <p-avatar icon="pi pi-user" styleClass="" [size]="'large'" shape="circle" [label]="chat.name.split('')[0]"
            [style]="{'background-color':randomColor, 'color': '#ffffff'}"></p-avatar>
    </div>
    <div class="chat-user">
        <div class="row d-flex justify-content-between">
            <div class="col-8">
                <h5 class="p-0 m-0 text-truncate">{{chat.name}}</h5>
            </div>
            <div class="col-4 small text-end" style="font-size: 0.7em;">
                {{chat.messages[chat.messages.length-1].datetime | date:'h:mm a, d/M/yy' }}
            </div>
        </div>
        <div class="">
            <div class="col-12">
                <p class="p-0 m-0 text-truncate">{{chat.messages[chat.messages.length-1].message}}</p>
            </div>
        </div>
    </div> 
</div>
