<span pRipple class="row main" (click)="chatSelected()" [ngClass]="activeChat ? 'active-chat' : ''"
    (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
    <div class="chat-avatar" style="padding-left: 4px;">
        <p-avatar icon="pi pi-user" styleClass="" [size]="'large'" shape="circle" [label]="chat.name.split('')[0]"
            [style]="{'background-color':chat.color, 'color': '#ffffff', 'text-shadow': 'black 0px 0px 10px'}">
        </p-avatar>
    </div>
    <div class="chat-user" style="padding-left: 0px;">
        <div class="row d-flex justify-content-between">
            <div class="col-10 pr-0">
                <h5 class="p-0 m-0 text-truncate" style="padding-right: 0px;" *ngIf="socket.User._id != chat._id">
                    <i class="bi bi-patch-check" *ngIf="chat.verified"
                        style="color: rgb(0, 217, 255)" pTooltip="Verified Account" tooltipPosition="top"></i>
                    <i class="bi bi-patch-exclamation" *ngIf="!chat.verified"
                        style="color: rgb(252, 106, 106)" pTooltip="Account not verified" tooltipPosition="top"
                        showDelay="500"></i>
                    {{chat.name | decrypt: userService.userDetails.settings.encryption &&
                    userService.userDetails.settings.encryptNames :
                    userService.userDetails.settings.encryptionComplexMode}}
                </h5>
                <h5 class="p-0 m-0 text-truncate" style="padding-right: 0px;" *ngIf="socket.User._id == chat._id">
                    <i class="bi bi-patch-check" *ngIf="userService.userDetails.settings.verified"
                        style="color: rgb(0, 217, 255)" pTooltip="Verified Account" tooltipPosition="top"
                        showDelay="500"></i>
                    <i class="bi bi-patch-exclamation" *ngIf="!userService.userDetails.settings.verified"
                        style="color: rgb(252, 106, 106)" pTooltip="Account not verified" tooltipPosition="top"
                        showDelay="500"></i>
                    {{userService.userDetails.name | decrypt: userService.userDetails.settings.encryption &&
                    userService.userDetails.settings.encryptNames :
                    userService.userDetails.settings.encryptionComplexMode}}
                    <span *ngIf="socket.User._id == chat._id">(You)</span>
                </h5>
            </div> 
            <div class="col-2 p-0 small text-center" style="font-size: 0.65em; padding: 0px; position: inherit;">
                <span style="position: absolute; left: 20px;" class="animate__animated animate__flash"
                    *ngIf="chat.messages[chat.messages.length-1].to._id === userService.userDetails._id && !chat.messages[chat.messages.length-1].read">
                    <p-badge [value]="'new'" severity="danger"></p-badge>
                </span>
                {{chat.messages[chat.messages.length-1].datetime |
                date:isToday(chat.messages[chat.messages.length-1].datetime) ? 'h:mm a' : 'd/M/yy' }}
            </div>
        </div>
        <div class=" d-flex justify-content-between p-0">
            <div class="col-10 p-0">
                <p class="p-0 m-0 text-truncate">
                    <span class="bi bi-paperclip" *ngIf="chat.messages[chat.messages.length-1].hasMedia"><b
                            *ngIf="!chat.messages[chat.messages.length-1].message">Media</b>
                    </span>
                    <span *ngIf="chat.messages[chat.messages.length-1].isComposed">
                        <i class="bi bi-card-text">
                        </i>
                        <b> Composed Message</b>
                    </span>
                    <span *ngIf="!chat.messages[chat.messages.length-1].isComposed">
                        {{chat.messages[chat.messages.length-1].message | decrypt:
                        chat.messages[chat.messages.length-1].seen && userService.userDetails.settings.encryption :
                        userService.userDetails.settings.encryptionComplexMode}}
                    </span>
                </p>
            </div>
            <div class="col-2 p-0 text-end">
                <i class="bi " *ngIf="userService.userDetails.email == chat.messages[chat.messages.length-1].from.email"
                    [ngClass]="chat.messages[chat.messages.length-1].read ? 'bi-check2-circle': 'bi-check2'"
                    style="font-size: 1em;"></i>
                &nbsp;
                <i pRipple class="pi pi-trash text-warning" (click)="confirm($event); $event.stopPropagation();"
                pTooltip="Delete this chat" tooltipPosition="left" showDelay="500"></i>
            </div>
        </div>
    </div>
</span>