<!-- <p-fileUpload name="file" url="http://localhost:3000/upload" (onUpload)="onUpload($event)" accept="image/*"
    maxFileSize="5242880" (onSelect)="getFileUrl($event)" [fileLimit]="1">
    <ng-template pTemplate="toolbar">
    </ng-template>
    <ng-template let-file pTemplate="file">
        <img [src]="imgUrl" *ngIf="imgUrl" alt="" width="100%">
    </ng-template>
    <ng-template pTemplate="content">
        Drag and drop a file here
        <span *ngIf="uploadedFiles.length">
            File uploaded successfully with url 
            <a [href]="imgUrl">{{imgUrl}}</a>
        </span>
    </ng-template>
</p-fileUpload> -->



<div *ngIf="!media.uploader.queue.length" class="file-upload text-center" ng2FileDrop
    [ngClass]="{'file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="media.uploader">
    <p class="h3" (fileOver)="fileOverBase($event)" ng2FileDrop>Click to choose a file or drop one here</p>
    <input type="file" (fileOver)="fileOverBase($event)" (onFileSelected)="fileSelected()"
        (onFileDrop)="fileDropped($event)" ng2FileDrop class="form-control" name="file" ng2FileSelect
        [uploader]="media.uploader" accept="*" />
</div>
<div *ngIf="media.uploader.queue.length" class="text-center">
    <button pButton pRipple type="button" class="p-button-outlined" icon="bi bi-upload" label="Send"
        (click)="media.uploader.queue[0].upload()"
        [disabled]="media.uploader.queue[0].isReady || media.uploader.queue[0].isUploading || media.uploader.queue[0].isSuccess">
    </button>
    <button pButton pRipple type="button" class="p-button-outlined mx-1 mx-md-3" icon="bi bi-x-circle" label="Cancel"
        (click)="media.uploader.queue[0].cancel()" [disabled]="!media.uploader.queue[0].isUploading">
    </button>
    <button pButton pRipple type="button" class="p-button-outlined" icon="bi bi-trash" label="Remove"
        (click)="resetUpload(true);">
    </button>
    <span class="p-input-icon-right col-12 col-md-8 my-2">
        <i class="bi bi-chat-dots"></i>
        <input type="text" pInputText placeholder="Enter your caption" [(ngModel)]="messageCaption" />
    </span>
    <div *ngIf="media.uploader.queue[0].isUploading">
        <div class="progress my-1 text-center" style="height: 10px">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                [ngStyle]="{ 'width': media.uploader.queue[0].progress + '%'}"
                [aria-valuenow]="media.uploader.queue[0].progress" aria-valuemin="0" aria-valuemax="100">
                {{media.uploader.queue[0].progress}}%
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="spinner-border text-light mt-3"
            *ngIf="imgUrl.length <= 0  && media.uploader.queue[0]._file.type.split('/')[0] === 'image'" role="status"
            style="width: 3rem; height: 3rem;">
            <span class="visually-hidden">Loading...</span>
        </div>
        <img [src]="imgUrl || getFileUrl(media.uploader.queue[0]._file)"
            *ngIf="media.uploader.queue[0]._file.type.split('/')[0] === 'image'" alt="" width="100%">
        <div *ngIf="media.uploader.queue[0]._file.type.split('/')[0] !== 'image'" alt="" class="row attatchment py-3 ">
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <i class="bi bi-paperclip display-2"></i>
                </div>
                <div class="col-10">
                    <span class="text-truncate text-start d-block">Name: {{fileName}}</span>
                    <span class="text-start d-block">Size: {{fileSize}}</span>
                    <span class="text-start d-block"> Type: {{fileFormat.toUpperCase()}}</span>
                </div>      
        </div>
    </div>
</div> 













<!-- <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
    [uploader]="uploader" class="well drop-zone">
    Drop a file or
    
<input type="file" ng2FileSelect [uploader]="uploader" />
</div>


<div class="col-md-9" style="margin-bottom: 40px">

    <h3>Upload queue</h3>
    <p>Queue length: {{ uploader?.queue?.length }}</p>

    <table class="table">
        <thead>
            <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.options.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
                <td class="text-center">
                    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" (click)="item.upload()"
                        [disabled]="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()"
                        [disabled]="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                </td>
            </tr>
        </tbody>
    </table> -->