.content {
    // background-color: #509250;
    min-height      : 100vh;
    background-image   : url("../assets/vbg1.jpg");
    background-position: center;
    background-repeat  : none;
    background-size    : cover;
}

.userDetails {
    background-image   : url("../assets/userbg.png");
    background-position: center;
    background-repeat  : none;
    background-size    : cover;
    height             : 180px;
    display            : flex;
    justify-content    : flex-end;
    flex-direction     : column;
    padding-left: 10px;
}

.padd-top {
    padding-top:66px;
}

.blur {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.05);
}

.navbar-brand {    
    font-family: 'Merienda', cursive;
    font-size: 1.3em;
}


.p-inputtext {
    background   : rgba(255, 255, 255, 0.1) !important;
    border-radius: 30px !important;
    height       : 40px;
    width        : 100%;
}