<div class="content">
    <nav class="navbar navbar-light text-white px-2 position-absolute col-12 blur" [ngClass]="{'bg-dark':!tnavbar}">
        <a class="navbar-brand text-white" routerLink="/"><img src="assets/icon.png" height="40" class=""> Cipher
            Chat</a>
        <span class="mr-3">
            <p-avatar *ngIf="!socket.User" icon="pi pi-user" styleClass="" [size]="'large'" shape="circle"
                (click)="visibleSidebar = true">
            </p-avatar>
            <p-avatar *ngIf="socket.User" [label]="socket.User.name.split('')[0]"
                [style]="{'background-color':randomColor, 'color': '#ffffff'}" [size]="'large'" shape="circle"
                (click)="visibleSidebar = true">
            </p-avatar>
        </span>
    </nav>
    <div class="routed-contents  padd-top">
        <router-outlet></router-outlet>
    </div>
</div>

<p-sidebar [(visible)]="visibleSidebar" [position]="mobileView ? 'left' : 'right'" [baseZIndex]="10000">
    <div class="userDetails ">
        <div class="userContents">
            <p-avatar *ngIf="!socket.User" icon="pi pi-user" styleClass="mb-2" size="xlarge" shape="circle">
            </p-avatar>
            <p-avatar *ngIf="socket.User" [label]="socket.User.name.split('')[0]" styleClass="mb-2" size="xlarge"
                shape="circle" [style]="{'background-color':randomColor, 'color': '#ffffff'}">
            </p-avatar>
            <div *ngIf="socket.User" class="text-truncate d-block">
                <h4 class="p-0 m-0 pl-2">{{socket.User.name}}</h4>
                <p class="p-0 m-0 pl-2">{{socket.User.email}}</p>
            </div>
            <div *ngIf="!socket.User" class="pb-2">
                <h4 class="p-0 m-0 pl-2">Hello Stranger</h4>
            </div>
        </div>
    </div>
    <p-menu [model]="sideItems"></p-menu>
    <!-- <img src="assets/bg.jpg" alt="" class="img-fluid p-0 m-0" style="margin: -10px"> -->
</p-sidebar>

<p-toast position="bottom-center"></p-toast>

<ngx-ui-loader ngxUiLoaderBlurred></ngx-ui-loader> 