<div class="content">
    <nav class="navbar navbar-light text-white px-2 position-absolute col-12 blur d-flex justify-content-between"
        [ngClass]="{'bg-dark':!tnavbar}">
        <a class="navbar-brand text-white" routerLink="/"><img src="assets/icon.png" height="40" class=""> Cipher
            Chat</a>
        <span class="mr-3">
            <span class="cipherSwitch d-inline" *ngIf="user.userDetails?.settings && socket.User">
                <button pButton pRipple type="button" iconPos="right" icon="pi {{user.modeIcon}}"
                    tourAnchor="cipherButton" [label]="!mobileView ? 'Cipher Mode:' : ''" class="p-button-rounded"
                    (click)="user.updateViewMode()"
                    [style]="{'background-color': user.getBgColor(), 'color': user.getBgColor() === '#C5E1A5' ? 'black' : 'white'}"></button>
            </span>
            <span class="menu-button" (click)="user.visibleSidebar = true">
                <p-avatar *ngIf="!socket.User" icon="pi pi-user" styleClass="" [size]="'large'" shape="circle">
                </p-avatar>
                <p-avatar *ngIf="socket.User" [label]="socket.User.name.split('')[0]" [style]="{'background-color':socket.User.settings.color, 'color': '#ffffff',
                'text-shadow': 'black 0px 0px 10px'}" [size]="'large'" shape="circle">
                </p-avatar>
                <i class="bi bi-three-dots-vertical" style="font-size: 1.5em;"></i>
            </span>
        </span>
    </nav>
    <div class="routed-contents  padd-top">
        <router-outlet></router-outlet>
    </div>
</div>

<p-sidebar [(visible)]="user.visibleSidebar" [position]="mobileView ? 'left' : 'right'" [baseZIndex]="10000">
    <div class="userDetails d-flex justify-content-center" tourAnchor="sideMenu">
        <div class="userContents text-center">
            <p-avatar *ngIf="!socket.User" icon="pi pi-user" styleClass="mb-2" size="xlarge" shape="circle">
            </p-avatar>
            <p-avatar *ngIf="socket.User" [label]="socket.User.name.split('')[0]" styleClass="mb-2" size="xlarge"
                shape="circle"
                [style]="{'background-color':socket.User.settings.color, 'color': '#ffffff', 'text-shadow': 'black 0px 0px 10px'}">
            </p-avatar>
            <div *ngIf="socket.User" class="text-truncate d-block text-center">
                <h4 class="p-0 m-0 pl-2 text-center">{{socket.User.name}}</h4>
                <p class="p-0 m-0 pl-2 text-center">{{socket.User.email}}</p>
            </div>
            <div *ngIf="!socket.User" class="pb-2 text-center">
                <h5 class="p-0 m-0 px-2">Start using Cipher Chat, Get rid of sneak peekers</h5>
            </div>
        </div>
    </div>
    <p-menu [model]="sideItems" tourAnchor="SideMenuItems"></p-menu>
    <!-- <img src="assets/bg.jpg" alt="" class="img-fluid p-0 m-0" style="margin: -10px"> -->
</p-sidebar>

<p-toast position="bottom-center"></p-toast>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<p-dialog header="Account Settings" (onHide)="user.cancelChanges()" [(visible)]="user.askSettings"
    [style]="{width: '40vw'}" [modal]='true' maskStyleClass="blur-bg-dark" [breakpoints]="{'780px': '95vw'}"
    [dismissableMask]="false">
    <app-settings></app-settings>
    <ng-template pTemplate="footer">
        <p-button icon="pi {{user.saveIcon}}" label="Save changes" styleClass="p-button-text text-light"
            (click)="user.saveSettings()">
        </p-button>
    </ng-template>
</p-dialog>


<p-dialog header="Password Verification" (onHide)="user.onVerify(false)" [(visible)]="user.verifyUser"
    [style]="{width: '40vw'}" [modal]='true' maskStyleClass="blur-bg-dark" [breakpoints]="{'780px': '95vw'}">
    <div class="col-12 col-md-10">
        <span class="p-input-icon-right col-12">
            <i class="pi pi-lock"></i>
            <input type="password" pInputText placeholder="Type your password"
                [(ngModel)]="user.verifyPasswordString" />
        </span>
    </div>
    <div style="display: inline-block; margin-left: 10px;" class="small text-warning" *ngIf="user.verifyPasswordError">
        {{user.verifyPasswordError}}
    </div>
    <ng-template pTemplate="footer">
        <p-button [icon]="user.verifyButtonIcon" label="Verify" styleClass="p-button-text text-light"
            (click)="user.verifyPassword()">
        </p-button>
    </ng-template>
</p-dialog>


<p-dialog header="Message Composer" [(visible)]="messageService.showComposer" [closable]="false"
    [style]="{width: '90vw'}" [modal]='true' maskStyleClass="blur-bg-dark" [breakpoints]="{'780px': '95vw'}"
    [dismissableMask]="false">
    <quill-editor [(ngModel)]="messageService.composerContent" [modules]="modules"
        (onContentChanged)="messageService.composerData($event)" [styles]="{ 
        background   : 'rgba(255, 255, 255, 0.1)',
        border       : '1px solid rgba(255, 255, 255, 0.2',
        borderBottomLeftRadius: '30px',
        borderBottomRightRadius: '30px',
        color: 'white',
        height: mobileView ? '40vh' : '60vh',
        paddingBottom: '30px'
      }"></quill-editor>
    <ng-template pTemplate="footer">
        <p-button label="Close" styleClass="p-button-text text-light"
            (click)="messageService.composedMessage.next(false); messageService.showComposer = false">
        </p-button>
        <p-button label="Send" styleClass="p-button-text text-light"
            [icon]="messageService.sendingComposed ? 'pi pi-spin pi-spinner' : ''"
            [disabled]="messageService.composerContent?.length < 1"
            (click)="messageService.composerContent?.length && messageService.sendComposed()">
        </p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Upload file" [(visible)]="media.askUpload" (onHide)="media.cancelUpload.next(true)" [closable]="false"
    [style]="{width: '60vw'}" [modal]='true' maskStyleClass="blur-bg-dark" [breakpoints]="{'780px': '95vw'}"
    [dismissableMask]="false">
    <app-fileupload></app-fileupload>
    <ng-template pTemplate="footer">
        <p-button label="Cancel" styleClass="p-button-text text-light"
            (click)="media.cancelUpload.next(true); media.askUpload = false;">
        </p-button>
    </ng-template>
</p-dialog>


<p-dialog header="Composed Message" [(visible)]="messageService.showComposedViewer"
    (onHide)="messageService.composedViewerContent = ''" [closable]="false" [style]="{width: '80vw'}" [modal]='true'
    maskStyleClass="blur-bg-dark" [breakpoints]="{'780px': '100vw'}" [dismissableMask]="false">
    <quill-view-html [content]="messageService.composedViewerContent" theme="snow"></quill-view-html>
    <ng-template pTemplate="footer">
        <p-button label="Close" styleClass="p-button-text text-light"
            (click)="messageService.showComposedViewer = false;">
        </p-button>
    </ng-template>
</p-dialog>


<p-dialog header="Verify Account" [(visible)]="user.showVerifyAccount" (onHide)="user.resetVerifyAccount()"
    [closable]="true" [style]="{width: '50vw'}" [modal]='true' maskStyleClass="blur-bg-dark"
    [breakpoints]="{'780px': '100vw'}" [dismissableMask]="false">
    <p>
        Verify your account now. otherwise all your messages and media will be deleted after 2 days.
    </p>
    <button pButton pRipple type="button" (click)="user.sendVerifyEmail()" label="Send Confirmation Email"
        id="confirmButton" class="p-button-rounded" *ngIf="user.verifyEmailSend === false"></button>
    <span *ngIf="user.verifyEmailSend" class="text-warning row">
        <div class="p-input-icon-right col-9">
            <input type="number" pInputText placeholder="Enter OTP" [(ngModel)]="user.vefiryOTPValue" />
        </div>
        <div class="col-3">
            <button pButton pRipple type="button" icon="{{user.verifyingOtp ? 'pi pi-spin pi-spinner' : 'pi pi-check-circle'}}"
                style="height: 40px; width: 100%;" (click)="user.verifyOtp()" label="Verify" id="confirmButton"
                class="p-button-rounded"></button>
        </div>
        <div class="col-12 mt-2" style="font-size: 0.9em;">
            Verify email has been send to {{user.userDetails.email}}.
            Please check your inbox
        </div>
    </span>
    <ng-template pTemplate="footer">
        <p-button label="Skip for now" styleClass="p-button-text text-light" (click)="user.showVerifyAccount = false">
        </p-button>
    </ng-template>
</p-dialog>

<tour-step-template style="position: fixed; z-index: 12000;">
    <ng-template let-step="step">
        <p class="tour-step-content">{{step?.content}}</p>
        <div class="tour-step-navigation">
            <button *ngIf="tourService.hasPrev(step)" class="btn btn-sm btn-default" (click)="tourService.prev(step)">«
                {{step?.prevBtnTitle}}</button>
            <button *ngIf="tourService.hasNext(step)" class="btn btn-sm btn-default"
                (click)="tourService.next(step)">{{step?.nextBtnTitle}} »</button>
            <button class="btn btn-sm btn-default" (click)="tourService.end()">
                <!-- {{step?.endBtnTitle}} -->
                Exit
            </button>
        </div>
    </ng-template>
</tour-step-template>