@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css"); //Bootsrap Icons
@import url('https://fonts.googleapis.com/css2?family=Caveat&:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import '~@ctrl/ngx-emoji-mart/picker';

body,
html {
  overflow: hidden;
  height  : 100vh;
  width   : 100vw;
}

// Scroll Bar

@media only screen and (min-width: 600px) {

  /* width */
  ::-webkit-scrollbar {
    max-width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff13;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background   : rgba(255, 255, 255, 0.24);
    border-radius: 4px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(204, 204, 204, 0.884);
  }
}

/* OVERRIDED STYLES */
.p-avatar {
  cursor: pointer;
}

.p-sidebar {
  padding        : 0rem !important;
  margin         : 0px !important;
  background     : rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px) !important;
}

.p-menu {
  width     : unset !important;
  background: unset !important;
  border    : unset !important;
}

.p-dialog {
  background   : rgba(255, 255, 255, 0.1) !important;
  border-radius: 30px !important;
}

.p-dialog .p-dialog-header {
  background             : unset !important;
  border-top-left-radius : 30px !important;
  border-top-right-radius: 30px !important;
  margin                 : 0px;
}


.p-dialog .p-dialog-content {
  background: unset !important;
}

.p-dialog .p-dialog-footer {
  background                : unset !important;
  border-bottom-left-radius : 30px !important;
  border-bottom-right-radius: 30px !important;
}


.blur-bg-dark {
  background     : rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(10px) !important;
}

.blur-bg {
  background     : rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px) !important;
}

.p-confirm-popup {
  background     : rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  border-radius  : 20px !important;
  text-shadow    : 2px 2px 5px #000000 !important;
  max-width      : 500px !important;
}

.p-confirm-popup:before,
.p-confirm-popup:after {
  border-bottom-color: rgba(255, 255, 255, 0.1) !important;
}

.p-confirm-popup-accept,
.p-confirm-popup-reject {
  color      : white;
  background : rgba(255, 255, 255, 0.1) !important;
  box-shadow : 5px 5px 10px #00000046 !important;
  text-shadow: 2px 2px 5px #000000 !important;
}

.p-confirm-popup-accept span,
.p-confirm-popup-reject span {
  color: white;
}

.p-togglebutton {
  background   : rgba(255, 255, 255, 0.1) !important;
  border-radius: 30px !important;
}

.p-button-icon-left,
.p-button-icon-right,
.p-button-text {
  background: unset !important;
}

.p-fileupload,
.p-fileupload-buttonbar {
  background-color       : unset !important;
  border-top-left-radius : 30px !important;
  border-top-right-radius: 30px !important;
}

.p-fileupload-content,
.p-fileupload {
  background-color          : unset !important;
  border-bottom-left-radius : 30px !important;
  border-bottom-right-radius: 30px !important;
  text-align                : center;
}


.p-fileupload-buttonbar .p-button {
  background   : rgba(255, 255, 255, 0.05) !important;
  border       : 1px solid rgba(255, 255, 255, 0.2) !important;
  border-radius: 30px;
}

.p-fileupload-buttonbar .p-button:hover,
.p-fileupload-buttonbar .p-button:active,
.p-fileupload-buttonbar .p-button:focus {
  background   : rgba(255, 255, 255, 0.1) !important;
  border       : 1px solid rgba(255, 255, 255, 0.2) !important;
  border-radius: 30px;
}

@media only screen and (max-width: 600px) {
  .p-toast-bottom-center {
    left : 50% !important;
    width: 20rem !important;
  }
}

@media only screen and (min-width: 601px) {
  .p-toast-bottom-center {
    left: 47% !important;
  }
}

.popover {
  z-index: 13000 !important;
}


.ql-toolbar.ql-snow {
  background             : rgba(255, 255, 255, 0.5) !important;
  border                 : 1px solid rgba(255, 255, 255, 0.2) !important;
  border-top-left-radius : 30px;
  border-top-right-radius: 30px;
  color                  : white;
}

.ql-editor.ql-blank::before {
  color: white !important;
}

.ql-snow .ql-editor pre.ql-syntax {
  background: rgba(255, 255, 255, 0.1) !important;
  border    : 1px solid rgba(255, 255, 255, 0.2) !important;
}

.ql-snow a {
  color: #66a8ff !important;
}

.ql-snow .ql-tooltip,
.ql-snow .ql-tooltip input[type=text] {
  left         : unset !important;
  background   : rgba(255, 255, 255, 0.1) !important;
  border       : 1px solid rgba(255, 255, 255, 0.2) !important;
  color        : white !important;
  box-shadow   : unset !important;
  border-radius: 10px !important;
}

.ql-snow .ql-tooltip input[type=text] {
  outline: none !important;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  background     : rgba(255, 255, 255, 0.1) !important;
  border         : 1px solid rgba(255, 255, 255, 0.2) !important;
  color          : white !important;
  border-radius  : 10px;
  backdrop-filter: blur(5px) !important;
}

.ql-snow .ql-picker-options .ql-picker-item:hover {
  color: black !important
}