
.main {
    min-height: calc(100vh - 66px);
    margin-top: -66px;
    height    : 100vh;

}

.title {
    font-family: 'Merienda', cursive;
}

.desc {
    font-family: 'Caveat', cursive;
}

button,
button:active,
button:focus {
    outline: none !important;
}

.p-button {
    border          : none;
    color           : white;
    transition      : 0.5s ease;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter : blur(7px);
    border-radius   : 30px;
}

.p-button:hover,
.p-button:focus,
.p-button:active {
    border          : none !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
    color           : white !important;
}

.title-content {
    padding         : 30px;
    border-radius   : 30px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter : blur(7px);
}

.p-button-label {
    text-decoration: none;
}