<div class="container main d-flex align-items-center justify-content-center justify-content-sm-start">
    <div class="text-white text-center text-sm-start title-content">
        <div class="display-1 title">Cipher Chat Web</div>
        <div class="display-5 desc mt-2">Chat with more privacy and say away from watchers</div>
        <div class="buttons mt-4">
            <a pButton pRipple type="button" label="Start Messaging" class="p-button-outlined col-10 col-sm-6 col-md-6 col-lg-5 text-decoration-none"
            routerLink="/login"></a>            
        </div>
    </div>
</div>