<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-4 col-xl-3 col-md-5 chats-window">
            <div class="row">
                <div class="col-12 action-bar mb-1 ">
                    <div class="row d-flex align-items-center justify-content-between" style="height: 100%">
                        <div class="col-10">
                            <span class="p-input-icon-left col-12">
                                <i class="pi pi-search"></i>
                                <input type="text" pInputText placeholder="Search" />
                            </span>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <button pButton pRipple type="button" icon="pi pi-plus"
                                    class="p-button-rounded p-button-text p-button-plain mx-auto"
                                    (click)="askNew = !askNew"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngFor="let chat of message.chatList">
                <div class="col-12 mb-1">
                    <app-person-widget [chat]="chat"></app-person-widget>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xl-9 col-md-7 chat-window">
            <app-chats-screen></app-chats-screen>
        </div>
    </div>
</div>

<p-dialog header="Who do you want to chat with" [(visible)]="askNew" [style]="{width: '50vw'}" [modal]='true'
    maskStyleClass="blur-bg" [breakpoints]="{'780px': '95vw'}" [dismissableMask]="true">
    <div class="col-12 col-md-10">
        <span class="p-input-icon-left col-12">
            <i class="pi pi-search"></i>
            <input (input)="checkMail()" type="text" pInputText placeholder="Type an Email" [(ngModel)]="mailId" />
        </span>
    </div>
    <div style="display: inline-block; margin-left: 10px;" class="small" *ngIf="newChatError"
        [ngClass]="disableNewChat ? 'text-warning' : 'text-success'">
        {{newChatError}}
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi {{newChatButtonIcon}}" label="Start Messaging" styleClass="p-button-text text-light"
            [disabled]="disableNewChat" (click)="startNewChat()">
        </p-button>
    </ng-template>
</p-dialog>