.main {
    height          : calc(100vh - 66px);
    backdrop-filter : blur(5px);
    background-color: rgba(255, 255, 255, 0.05);
}

.chats-window {
    color       : white;
    height      : calc(100vh - 66px);
    border-right: 0.5px solid rgba(255, 255, 255, 0.233);
}

.chat-window {
    height: calc(100vh - 66px);
    color : white;
}

.action-bar {
    backdrop-filter : blur(5px);
    background-color: rgba(255, 255, 255, 0.05);
    height          : 50px;
}

.p-inputtext {
    background   : rgba(255, 255, 255, 0.1) !important;
    border-radius: 30px !important;
    height       : 40px;
    width        : 100%;
}